</main>
<footer class="footer">
  <p>&copy; <%= new Date().getFullYear() %> Restaurant Management System</p>
</footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>